# Dependencies
node_modules/
.pnpm-store/

# Next.js, NestJS & Build outputs
.next/
dist/
out/
build/
.turbo/
*.tsbuildinfo

# Environment files (Ignored across all packages)
.env
.env.local
.env.*.local
.env*.local
!.env.example

# Go / Transcoder Binaries & Temp
apps/transcoder/tmp/
*.exe
*.dll
*.so
*.dylib

# Docker Data Volumes
minio_data/
postgres_data/
redis_data/

# OS & IDE
.DS_Store
.vscode/
.idea/
*.log
