DATABASE_URL="postgresql://postgres:password@localhost:5432/lms_demo?schema=public"
REDIS_ADDR="localhost:6379"
REDIS_QUEUE="video_transcode_queue"
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin"
S3_RAW_BUCKET="lms-raw-uploads"
S3_STREAM_BUCKET="lms-stream-media"
S3_FORCE_PATH_STYLE=true
